@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
}
